<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Treatment Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Treatment Prediction App</h1>
    </header>
    <main>
        <div id="button-container">
            <button onclick="location.href='/questionnaire'">Questionnaire</button>
            <button onclick="location.href='/prediction'">Model Prediction</button>
        </div>
    </main>
</body>
</html>
